wp-admin/
wp-includes/
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-config.php
wp-comments-post.php
wp-config-docker.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
error.log